[user]
	name = Matthew Wagerfield
	email = matthew@wagerfield.com

[init]
	defaultBranch = main

[pull]
	rebase = false # merge

[includeIf "gitdir:~/Documents/work/make/"]
	path = ~/.config/git/make.gitconfig

[includeIf "gitdir:~/Documents/work/make/prg/"]
	path = ~/.config/git/prg.gitconfig
